<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert unicode to utf-8</title>
</head>
<body>
    <h1>Convert unicode to utf-8</h1>
    <form action="/convert" method="POST" enctype="multipart/form-data">
        <!-- <label for="_file">File: </label> -->
        <input id="_file" name="_file" type="file"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>